<?xml version="1.0"?>
<control>
    <view>default</view>
    <view status="CMD_OK">default</view>
    <view status="CMD_ERROR">error</view>
    <command name="AddVenue">
        <view>addvenue</view>
    </command>
    <command name="ProductList">
        <view>product</view>
    </command>
</control>
